*{
    background: black;
    color: white;
    font-family: monospace,mono;
    font-size: 16pt;
}

body{
    margin:auto;
    max-width:800px;
}

h1{
    margin: auto;
    margin-top: 2em;
    margin-bottom: 1em;
    width: 100%;
    font-size: 3em;
    text-align: center;
}

.center{
    text-align:center;
}
